body {
    background: #F2F2F2;
    font-size: 14px;
}

.root {
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2em;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.root__item {
    padding: 2em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.header {
    background: #c8d6e5;
    grid-column: 1/7;
    grid-row: 1/2;
}

.sidebar {
    background: #eedfcc;
    grid-column: 2/3;
    grid-row: 2/6;
}

.main {
    background: #222f3e;
    grid-row: 2/6;
    grid-column: 3/5;
}

.footer {
    background: #c8d6e5;
    grid-column: 1/7;
    grid-row: 6/7;
    height: 10vh;
}

.widget {
    grid-column: 5/6;
}

.widget_blue {
    background: #2F80ED;
    grid-row: 2/4;
}

.widget_red {
    background: #ff4757;
    grid-row: 4/6;
}

.title {
    margin: 0;
    color: white;
}

